/* line 5, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../usr/local/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?vpgjyz");
  src: url("../fonts/icomoon.eot?vpgjyz#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?vpgjyz") format("truetype"), url("../fonts/icomoon.woff?vpgjyz") format("woff"), url("../fonts/icomoon.svg?vpgjyz#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* line 12, ../sass/icomoon.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 26, ../sass/icomoon.scss */
.icon-pencil:before {
  content: "\e800";
}

/* line 29, ../sass/icomoon.scss */
.icon-users:before {
  content: "\e801";
}

/* line 32, ../sass/icomoon.scss */
.icon-list2:before {
  content: "\e802";
}

/* line 13, ../sass/style.scss */
body {
  font-family: 'Open Sans', sans-serif;
  font-size: 62.5%;
  text-align: center;
  background-color: #f4f3f1;
}
/* line 18, ../sass/style.scss */
body .hero {
  max-width: 100em;
  margin: 0 auto;
  background: url("images/find-an-agent-hero.png");
  background-size: cover;
  color: white;
}
/* line 24, ../sass/style.scss */
body .hero header {
  overflow: hidden;
  *zoom: 1;
}
/* line 25, ../sass/style.scss */
body .hero header img {
  width: 8em;
  height: 2em;
  float: left;
}
/* line 30, ../sass/style.scss */
body .hero header ul {
  float: right;
  padding: 1em;
}
/* line 33, ../sass/style.scss */
body .hero header ul li {
  display: inline;
  margin: 1em .5em;
  padding: .5em 1em;
  border: 1px solid transparent;
  border-radius: 2px;
}
/* line 40, ../sass/style.scss */
body .hero header ul li:last-child {
  border: 1px solid white;
}
/* line 47, ../sass/style.scss */
body .hero h1 {
  font-size: 4em;
  padding: 1em 0 .5em 0;
  font-weight: bold;
}
/* line 52, ../sass/style.scss */
body .hero h2 {
  font-size: 2em;
  color: #D9DADA;
}
/* line 56, ../sass/style.scss */
body .hero form {
  padding: 2em 0 4em 0;
}
/* line 58, ../sass/style.scss */
body .hero form input[type="text"] {
  padding: 1em;
  border: 0;
  width: 18em;
  border-radius: 2px 0 0 2px;
  background: #f4f3f1;
  opacity: .3;
}
/* line 66, ../sass/style.scss */
body .hero form input[type="button"] {
  text-transform: uppercase;
  color: white;
  padding: 1em;
  border: 0;
  width: 6em;
  border-radius: 0 2px 2px 0;
  background-color: #6cdcac;
}
/* line 77, ../sass/style.scss */
body .numbers {
  width: 80%;
  margin: 0 auto;
}
/* line 80, ../sass/style.scss */
body .numbers ul {
  position: relative;
  top: -1em;
  background: #f4f3f1;
  overflow: hidden;
  *zoom: 1;
}
/* line 84, ../sass/style.scss */
body .numbers ul li {
  float: left;
  width: 25%;
  box-sizing: border-box;
  border-top: 1px solid #D9DADA;
  border-bottom: 1px solid #D9DADA;
  border-left: 1px solid #D9DADA;
}
/* line 91, ../sass/style.scss */
body .numbers ul li:last-child {
  border-right: 1px solid #D9DADA;
}
/* line 94, ../sass/style.scss */
body .numbers ul li h2 {
  font-size: 2em;
  padding: 1em 0;
}
/* line 98, ../sass/style.scss */
body .numbers ul li h3 {
  padding: 0 0 2em 0;
}
/* line 105, ../sass/style.scss */
body .how-it-works {
  width: 80%;
  margin: 2em auto;
}
/* line 108, ../sass/style.scss */
body .how-it-works h2 {
  font-size: 2em;
  text-transform: uppercase;
  padding: 1em 0;
}
/* line 112, ../sass/style.scss */
body .how-it-works h2:after {
  display: block;
  content: "";
  background-color: #a5a5a5;
  width: 2em;
  height: .1em;
  margin: .4em auto;
}
/* line 121, ../sass/style.scss */
body .how-it-works ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 122, ../sass/style.scss */
body .how-it-works ul li {
  float: left;
  width: 33.33%;
}
/* line 139, ../sass/style.scss */
body .how-it-works ul li .number {
  font-size: 2em;
  color: #a5a5a5;
  border: 1px solid #a5a5a5;
  width: 1em;
  height: 1em;
  display: block;
  margin: 1em auto 2em auto;
  padding: .4em;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-color: #f4f3f1;
}
/* line 151, ../sass/style.scss */
body .how-it-works ul li i {
  font-size: 3.6em;
}
/* line 154, ../sass/style.scss */
body .how-it-works ul li h3 {
  font-size: 2em;
  font-weight: bold;
  margin: 1em auto 1em auto;
}
/* line 159, ../sass/style.scss */
body .how-it-works ul li p {
  color: #a5a5a5;
  margin: 1em auto 2em auto;
  padding: .4em;
}
/* line 164, ../sass/style.scss */
body .how-it-works ul li .icon-pencil {
  color: #AC9CD2;
}
/* line 167, ../sass/style.scss */
body .how-it-works ul li .icon-list2 {
  color: #ECA95A;
}
/* line 170, ../sass/style.scss */
body .how-it-works ul li .icon-users {
  color: #4D99CB;
}
/* line 177, ../sass/style.scss */
body .why-choose-us {
  width: 80%;
  margin: 2em auto;
}
/* line 180, ../sass/style.scss */
body .why-choose-us h2 {
  font-size: 2em;
  text-transform: uppercase;
  padding: 1em 0;
  margin-bottom: 2em;
}
/* line 185, ../sass/style.scss */
body .why-choose-us h2:after {
  display: block;
  content: "";
  background-color: #a5a5a5;
  width: 2em;
  height: .1em;
  margin: .4em auto;
}
/* line 194, ../sass/style.scss */
body .why-choose-us ul {
  overflow: hidden;
  *zoom: 1;
}
/* line 195, ../sass/style.scss */
body .why-choose-us ul li {
  float: left;
  width: 50%;
  position: relative;
  margin: 1em auto 1em auto;
}
/* line 200, ../sass/style.scss */
body .why-choose-us ul li i {
  position: absolute;
  width: 5em;
  left: 0em;
  font-size: 3em;
}
/* line 206, ../sass/style.scss */
body .why-choose-us ul li .detail {
  margin-left: 10em;
  text-align: left;
}
/* line 209, ../sass/style.scss */
body .why-choose-us ul li .detail h3 {
  font-size: 3em;
  padding: 1em;
  padding-top: 0em;
  padding-left: 0em;
}
/* line 215, ../sass/style.scss */
body .why-choose-us ul li .detail p {
  width: 80%;
  color: #a5a5a5;
}
/* line 220, ../sass/style.scss */
body .why-choose-us ul li .icon-pencil {
  color: #AC9CD2;
}
/* line 223, ../sass/style.scss */
body .why-choose-us ul li .icon-users {
  color: #4D99CB;
}
/* line 230, ../sass/style.scss */
body .people {
  width: 80%;
  margin: 2em auto;
}
/* line 233, ../sass/style.scss */
body .people form {
  padding: 2em 0 4em 0;
}
/* line 235, ../sass/style.scss */
body .people form input[type="button"]#test {
  color: white;
  padding: 1em;
  border: 0;
  border-radius: 0 2px 2px 0;
  background-color: #60677a;
}
/* line 242, ../sass/style.scss */
body .people form input[type="button"]#recent {
  color: white;
  padding: 1em;
  border: 0;
  border-radius: 0 2px 2px 0;
  background-color: #6cdcac;
}
/* line 250, ../sass/style.scss */
body .people i {
  font-size: 2em;
  color: #a5a5a5;
}
/* line 254, ../sass/style.scss */
body .people blockquote {
  margin: 2em 0;
}
/* line 257, ../sass/style.scss */
body .people h3 {
  font-size: 1em;
  padding-bottom: .5em;
}
/* line 261, ../sass/style.scss */
body .people h4 {
  font-size: 1em;
  color: #aebeb9;
  margin-bottom: 2em;
}
/* line 267, ../sass/style.scss */
body .people ul li {
  display: inline-block;
}
/* line 269, ../sass/style.scss */
body .people ul li img.light {
  color: #a5a5a5;
  border: 1px solid #a5a5a5;
  width: 5em;
  height: 5em;
  margin: 2em;
  padding: .2em;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
}
/* line 278, ../sass/style.scss */
body .people ul li img.grey {
  color: #a5a5a5;
  border: 1px solid #a5a5a5;
  width: 5em;
  height: 5em;
  margin: 2em;
  padding: .2em;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  opacity: .3;
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray;
}
/* line 297, ../sass/style.scss */
body .find-an-agent {
  max-width: 100em;
  margin: 0 auto;
  background: url("images/find-an-agent-hero.png");
  background-size: cover;
  color: white;
}
/* line 303, ../sass/style.scss */
body .find-an-agent label {
  font-size: 2em;
  margin-right: .5em;
}
/* line 307, ../sass/style.scss */
body .find-an-agent form {
  padding: 4em 0 4em 0;
}
/* line 309, ../sass/style.scss */
body .find-an-agent form input[type="text"] {
  padding: 1em;
  border: 0;
  width: 25em;
  border-radius: 2px 0 0 2px;
  background: #f4f3f1;
}
/* line 316, ../sass/style.scss */
body .find-an-agent form input[type="button"] {
  text-transform: uppercase;
  color: white;
  padding: 1em;
  border: 0;
  width: 6em;
  border-radius: 0 2px 2px 0;
  background-color: #6cdcac;
}
/* line 328, ../sass/style.scss */
body .footer footer {
  width: 80%;
  margin: 2em auto;
  font-size: 1.4em;
}
/* line 333, ../sass/style.scss */
body .footer footer ul.about li {
  float: left;
  padding: 0 1em;
  display: inline-block;
  color: #a5a5a5;
}
/* line 341, ../sass/style.scss */
body .footer footer ul.social li {
  float: right;
  padding: 0 1em;
  display: inline-block;
}
/* line 346, ../sass/style.scss */
body .footer footer ul.social .icon-pencil {
  color: #AC9CD2;
}
/* line 349, ../sass/style.scss */
body .footer footer ul.social .icon-users {
  color: #4D99CB;
}
